.title {
    text-align: center;
    margin-top: -30px;
  }
  
  .title h2 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #2f4d5a;
    z-index: 2;
  }
  
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f4f9fc;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #2f4d5a;
    z-index: 2;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    background: url(../img/section-title-bg.png) no-repeat;
    z-index: -1;
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  .pubs-section {
    padding: 10px 10px;
  }

  .pubs-inv {
    padding: 20px 0px;
  }

  .pubs-year {
    font-size: 35px;
    font-weight: bold;
    color: red;
  }

  .pubs-title {
    font-size: 25px;
    font-weight: bold;
    color: black;
  }

  .pubs-title:hover {
    font-weight: bold;
    color: #d16767;
  }

  .pubs-name {
    font-size: 14px;
    transition: all ease-in-out 0.3s;
  }

  .btn {
    padding: 6px 16px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    background-color: rgba(255, 255, 0, 0.4);
    transition: all ease-in-out 0.3s;
  }

  .btn:hover {
    background-color: rgb(255, 255, 0);
  }