.title {
    text-align: center;
    margin-top: -30px;
  }
  
  .title h2 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #2f4d5a;
    z-index: 2;
  }
  
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f4f9fc;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #5A8AC6;
    z-index: 2;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    background: url(../img/section-title-bg.png) no-repeat;
    z-index: -1;
  }
  
  .section-title p {
    margin-bottom: 0;
  }