{% extends "layout.html" %}
{% block style %}gallery{% endblock %} 
{% block NavGallery %}active{% endblock %} 

{% block main %}

<main id="main">
  <section class="inner-page">
    <div class="container">
      <div class="title">
        <section class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Gallery</h2>
        </section>
      </div>

      <div class="container">
        <section id="portfolio" class="section">
          <div class="container text-center">
            <h6 class="section-title mb-4">First Gallery</h6>
            <div class="row">
              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container text-center">
            <h6 class="section-title mb-4">Second Gallery</h6>
            <div class="row">
              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-1.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/team/team-2.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>Project Title</h5>
                      <a href=""><i class="bi bi-zoom-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</main>

{% endblock %} 
{% block javascript %}gallery{% endblock %}