{% extends "layout.html" %}

{% block style %}index{% endblock %}

{% block NavHome %}active{% endblock %}

{% block front %}






{% endblock %}

{% block main %}
<main id="main">

  <div class="container">
    <div class="owl-carousel owl-1">
      <div class="img-wrap"><img src="static/img/home/beating1.gif" alt="Image" class="img-fluid"><h3 class="img-label">Beating Cardiomyocites</h3></div>
      <div class="img-wrap"><img src="static/img/home/HomePage-BCVS Paul Dudley White International Scholar Award.png" alt="Image" class="img-fluid"><h3 class="img-label">BCVS Paul Dudley White International Scholar Award</h3></div>
      <div class="img-wrap"><img src="static/img/home/HomePage-Emerging_satr_lab_award.jpeg" alt="Image" class="img-fluid"><h3 class="img-label">Emerging SATR Lab Award</h3></div>
    </div>
  </div>

    <section id="aboutus" class="aboutus">
      <div class="container">
        <div class="section-title">
          <h2>About Us</h2>
          <p style="text-align: justify; text-justify: inter-word;" data-aos="fade-in" data-aos-delay="100">
            Ischemic heart disease (IHD), resulting from cardiac muscle damage following myocardial ischemia, is a debilitating and costly chronic condition with limited curative treatments available. 
            Since 2013, Lynn has spearheaded the development of safe cellular products for regenerative cardiology. 
            Using our patented laminin-221 protocol, we derived cardiovascular progenitors (CVPs) from human pluripotent stem cells (hPSCs). 
            Our work demonstrated that intramuscular transplantation of CVPs into myocardial infarction (MI) mouse and pig hearts successfully formed muscle bundles, enhanced heart function, and reduced ventricular arrhythmia incidence by 50% 
            (refer to <a class="aboutus-a" href="https://www.cell.com/cell-reports/fulltext/S2211-1247(19)30269-4?dgcid=raven_jbs_etoc_email">Cell Reports</a>, <a class="aboutus-a" href="https://doi.org/10.1038/s41536-023-00302-6">npj</a>, and <a class="aboutus-a" href="https://doi.org/10.1101/2023.06.10.544480">BioRxiv</a>). 
            <br><br>
            Our research seeks to uncover the molecular and physiological mechanisms behind stem cell-based therapies for regenerative cardiology. 
            We employ cell and molecular techniques, genome editing, metabolic assays, animal models, transcriptomics, proteomics, and bioinformatics to create a comprehensive RNA and protein atlas for target discovery. 
            <br><br>
            Our program focuses on:
            <br>
            <br>1.	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mechanism of laminins in cardiac differentiation. 
            <br>2.	&nbsp;&nbsp;&nbsp;Investigating inflammatory responses, cell engraftment and viability, graft maturation, fibrosis resolution, and ventricular tachycardia mitigation in vivo.
            <br>3.	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Understanding the efficacy of CVPs in metabolic animal models 
            <br>4.	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developing methods to encapsulate CVPs in laminin-hydrogel and exploring catheter transplantation.
            <br><br>These advancements aim to transform clinical practices and improve treatment for end-stage heart patients.
          </p>
        </div>
        <div class="col-lg-7 col-md-8 align-middle mx-auto">
          <div class="team-img" data-aos="fade-in" data-aos-delay="100">
            <img src="/static/img/home/AboutUs_LabPic.jpeg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="publication" class="publication">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>What's New</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <h4 class="title">
                <!-- <div class="icon"><img src="/static/img/CellReports_white-1532516619607.svg"></img></div> -->
                <div class="icon"><i class="bi bi-heart-pulse-fill"></i></div>
                <a href="https://doi.org/10.1038/s41536-023-00302-6" target="_blank">
                  Pluripotent stem cell-derived committed cardiac progenitors remuscularize damaged ischemic hearts and improve their function in pigs
                </a>
            </h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <h4 class="title">
                <div class="icon"><i class="bi bi-heart-pulse-fill"></i></div>
                <a href="https://pubs.acs.org/doi/10.1021/acssynbio.0c00499" target="_blank">
                  Evaluating Capture Sequence Performance for Single-Cell CRISPR Activation Experiments
              </a>
            </h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <h4 class="title">
                <div class="icon"><i class="bi bi-heart-pulse-fill"></i></div>
                <a href="https://doi.org/10.1084/jem.20212117" target="_blank">
                  Viral proteases activate the CARD8 inflammasome in the human cardiovascular system
                </a>
              </h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <h4 class="title">
                <div class="icon"><i class="bi bi-heart-pulse-fill"></i></div>
                <a href="https://doi.org/10.1084/jem.20212117" target="_blank">
                  Viral proteases activate the CARD8 inflammasome in the human cardiovascular system
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

{% endblock %}