{% extends "layout.html" %}

{% block style %}media{% endblock %}

{% block NavMedia %}active{% endblock %}

{% block main %}

<main id="main">
    <section class="inner-page">
        <div class="title">
            <section class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Media</h2>
            </section>
        </div>
    </section>

    <section>
        <div>
            
          <div class="container text-center gallery-event">
            <div class="row">
              <div class="col-sm">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/media/Pre-clincal trials.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>New stem cell therapy for heart repair shows promising pre-clinical results</h5>
                      <a href="https://www.straitstimes.com/singapore/new-stem-cell-therapy-for-heart-repair-shows-promising-pre-clinical-results" target="_blank"  class="glightbox preview-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                  <img src="static/img/media/zaobao.jpg" alt="" />
                  <div class="overlay">
                    <div class="overlay-infos">
                      <h5>杜克国大医学院研发干细胞疗法 可治疗心力衰竭</h5>
                      <a href="https://www.zaobao.com.sg/news/singapore/story20230610-1403075" target="_blank" class="glightbox preview-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

</main>



{% endblock %}