{% extends "layout.html" %}

{% block style %}publication{% endblock %}

{% block NavPublication %}active{% endblock %}

{% block main %}

<main id="main">

    <section class="inner-page">

        <div class="title">
            <section class="section-title">
                <h2>Publications</h2>
            </section>
        </div>

        <div class="container">
            <section class="pubs-section">
                <h3 id="2023" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2023</h3>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://www.biorxiv.org/content/10.1101/2023.06.10.544480v2">Spatiotemporal Transcriptomes of Pig Hearts Reveal Midkine-Mediated Vascularization in a Chronic Myocardial Infarcted Model</a>
                        <p class="pubs-name">Swarnaseetha Adusumalli, PhD.; Samantha Lim, MSc.; Vincent Ren, MD. PhD.; Li Yen Chong MSc.; Clarissa Tan MSc.; Roy Tham, B.Sc.; Ye Lei, MD. PhD.; Yibin Wang, PhD; Enrico Petretto, PhD.; Karl Tryggvason, MD. PhD; Lynn Yap, PhD</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-light btn-sm" href="https://www.biorxiv.org/content/10.1101/2023.06.10.544480v2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                Link
                            </a>
                            <a type="button" class="btn btn-light btn-sm" href="https://www.biorxiv.org/content/10.1101/2023.06.10.544480v2.full.pdf">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                </svg>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://www.nature.com/articles/s41536-023-00302-6">Pluripotent stem cell-derived committed cardiac progenitors remuscularize damaged ischemic hearts and improve their function in pigs</a>
                        <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhua Cai, Sze Jie Loo, Eric Lim, Ru San Tan, Elina Grishina, Poh Loong Soong, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-light btn-sm" href="https://www.nature.com/articles/s41536-023-00302-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                Link
                            </a>
                            <a type="button" class="btn btn-light btn-sm" href="https://www.nature.com/articles/s41536-023-00302-6.epdf?sharing_token=3cYdDCAWGSB8kN-doKB029RgN0jAjWel9jnR3ZoTv0Pq7X0jegKD6_QZNp88xx_ZkNxa8B1U-DasB7Gq2fmIRW9DjDuFLTC289IcZ82V5vgEba9efLTpSeui56qXyWbuX8vkuJm9fDz5i2_T8f-Q4oBCLcMRKgrpGeODdDtCqkg%3D">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                </svg>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pubs-section">
                <h3 id="2022" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2022</h3>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://rupress.org/jem/article/219/10/e20212117/213484">Viral proteases activate the CARD8 inflammasome in the human cardiovascular system</a>
                        <p class="pubs-name">Rhea Nadkarni, Wern Cui Chu, Cheryl QE Lee, Yasir Mohamud, Lynn Yap, Gee Ann Toh, Sheryl Beh, Radiance Lim, Yiyun Michelle Fan, Yizhuo Lyanne Zhang, Kim Robinson, Karl Tryggvason, Honglin Luo, Franklin Zhong, Lena Ho</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-light btn-sm" href="https://rupress.org/jem/article/219/10/e20212117/213484">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                Link
                            </a>
                            <a type="button" class="btn btn-light btn-sm" href="https://rupress.org/jem/article-pdf/219/10/e20212117/1439128/jem_20212117.pdf">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                </svg>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pubs-section">
                <h3 id="2021" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2021</h3>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://www.ahajournals.org/doi/abs/10.1161/circ.144.suppl_1.9573">Significant Reduction in Ventricular Tachyarrhythmia After Myocardial Infarction in Cardiovascular Progenitors Transplanted Pig Hearts</a>
                        <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhua Cai, Sze Jie Loo, Eric Lim, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-light btn-sm" href="https://www.ahajournals.org/doi/abs/10.1161/circ.144.suppl_1.9573">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" >
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                Link
                            </a>
                            <a type="button" class="btn btn-light btn-sm" href="https://www.ahajournals.org/doi/abs/10.1161/circ.144.suppl_1.9573">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                </svg>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://www.biorxiv.org/content/10.1101/2021.04.29.441908v1.abstract">PLURIPOTENT STEM CELL-DERIVED CARDIOVASCULAR PROGENITORS DIFFFERENTIATED ON LAMININ 221 REGENERATE AND IMPROVE FUNCTION OF INFARCTED SWINE HEARTS</a>
                        <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhua Cai, Sze Jie Loo, Eric Lim, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-light btn-sm" href="https://www.biorxiv.org/content/10.1101/2021.04.29.441908v1.abstract">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" >
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                Link
                            </a>
                            <a type="button" class="btn btn-light btn-sm" href="https://www.biorxiv.org/content/biorxiv/early/2021/04/29/2021.04.29.441908.full.pdf">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                </svg>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://pubs.acs.org/doi/full/10.1021/acssynbio.0c00499">Evaluating capture sequence performance for single-cell CRISPR activation experiments</a>
                        <p class="pubs-name">Xin Yi Choo, Yu Ming Lim, Khairunnisa Katwadi, Lynn Yap, Karl Tryggvason, Alfred Xuyang Sun, Shang Li, Lusy Handoko, John F Ouyang, Owen JL Rackham</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-light btn-sm" href="https://pubs.acs.org/doi/full/10.1021/acssynbio.0c00499">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" >
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                                </svg>
                                Link
                            </a>
                            <a type="button" class="btn btn-light btn-sm" href="https://pubs.acs.org/doi/epdf/10.1021/acssynbio.0c00499">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                                </svg>
                                PDF
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>
    
</main>

{% endblock %}