{% extends "layout.html" %}

{% block style %}publication{% endblock %}

{% block NavPublication %}active{% endblock %}

{% block HeaderClass %}header-scrolled{% endblock %}

{% block main %}

<main id="main">

    <section class="inner-page">

        <div class="title">
            <section class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Publications</h2>
            </section>
        </div>

        <div class="container">

            <section class="pubs-section">
                <h3 id="2023" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2023</h3>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://doi.org/10.1038/s41536-023-00302-6" target="_blank">Pluripotent stem cell-derived committed cardiac progenitors remuscularize damaged ischemic hearts and improve their function in pigs</a>
                        <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhua Cai, Sze Jie Loo, Eric Lim, Ru San Tan, Elina Grishina, Poh Loong Soong, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                        <p class="pubs-name">npj Regenerative Medicine volume 8, Article number: 26 (2023)</p>
                    </div>
                </div>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://doi.org/10.1101/2023.06.10.544480" target="_blank">Spatiotemporal Transcriptomes of Pig Hearts Reveal Midkine-Mediated Vascularization in a Chronic Myocardial Infarcted Model</a>
                        <p class="pubs-name">Lynn Yap, Swarnaseetha Adusumalli, Samantha Lim, Vincent Ren, Li Yen Chong, Clarissa Tan, Roy Tham, Ye Lei, Yibin Wang, Enrico Petretto, Karl Tryggvason</p>
                        <p class="pubs-name">bioRxiv, 2023.06. 10.544480</p>
                    </div>
                </div>
            </section>

            <section class="pubs-section">
                <h3 id="2019" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2019</h3>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://www.cell.com/cell-reports/fulltext/S2211-1247(19)30269-4?dgcid=raven_jbs_etoc_email" target="_blank">In Vivo Generation of Post-infarct Human Cardiac Muscle by Laminin-Promoted Cardiovascular Progenitors</a>
                        <p class="pubs-name">Lynn Yap, Jiong-Wei Wang, Aida Moreno-Moral, Li Yen Chong, Yi Sun, Nathan Harmston, Xiaoyuan Wang, Suet Yen Chong, Konstantinos Vanezis, Miina K Öhman, Heming Wei, Ralph Bunte, Sujoy Gosh, Stuart Cook, Outi Hovatta, Dominique PV de Kleijn, Enrico Petretto, Karl Tryggvason</p>
                        <p class="pubs-name">Cell reports 26 (12), 3231-3245. e9</p>
                    </div>
                </div>
                <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                        <a class="pubs-title" href="https://doi.org/10.1016/j.tcb.2019.10.001" target="_blank">Laminins in Cellular Differentiation</a>
                        <p class="pubs-name">Lynn Yap, Hwee Goon Tay, Mien T.X. Nguyen, Monica S. Tjin, Karl Tryggvason</p>
                        <p class="pubs-name">Cell reports 29 (12), P987-1000</p>
                    </div>
                </div>
            </section>

        </div>

    </section>
    
</main>

{% endblock %}